body {
	font-family: Verdana, Geneva, sans-serif;
	background-color: #D0A77D;
}

#header-pic {
	height: 125px;
	float: left;
	/*margin-left: 10px;*/
	margin-right: 10px;
}

header {
	height: 8em;
	background-color: #3ca1d2;
}

header h1 {
	/* height: 100px;*/
	padding-top: 2em;
	margin-bottom: 0em;
}

nav {
	height: 1.5em;
	background-color: #d26d3c;
}


nav a:hover {
	text-decoration: none;
	background-color: gold;
}

aside {
	width: 7em;
	height:20em;
	float: left;
	position: relative;
}

aside p {
	float: left;
	font-weight: normal;
	font-size: 0.75em;
}

aside a {
	margin-left: auto;
	margin-right: auto;
	float: left;
	width: 100%;
}

main {
	/*margin-left: 12px;*/
	/*margin-right: 12px;*/
	width:75%;
}

#social-media-heading {
	margin-bottom: 0em;
}

main h1 {
	font-size: 1.5em;
}

#footerline {
	height: 0.15em;
	margin-top: 25px;
	background-color: black;
}